.autocomplete-menu-default {
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 35px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.autocomplete-selected-item-default {
    background: #3366FF;
    color: white;
}

.autocomplete-list-default {
    list-style:none;
    padding:0;
    margin:auto;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-item-default {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.autocomplete-input-default {
    min-width: 120px;
    color: black;
    position: relative;
    display: block;
    padding: 0.8em;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
