.autocomplete-menu {
    position: absolute;
    left: 5px;
    margin-top: 5px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.autocomplete-selected-item {
    color: #3366FF;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.autocomplete-input {
    min-width: 120px;
    color: black;
    position: relative;
    display: block;
    font-size: 12px;
    font-family: monospace;
    opacity: 0.5;
}
